.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  border-radius: 60px;
  margin-bottom: 10px;
  margin-right: 2px;
  text-transform: lowercase;
  text-decoration: none;
  background-image: linear-gradient(to left, #0353A4, #002855);
  padding: 20px;
  display: inline-block;
  border: none;
  height: 60px;
  width: 60px;
}