@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

/* ////////////////////////////////////////////
                Default styling
   ////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    background-color: #0d1117;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth
}

.container {
    width: 75vw;
    margin: auto;
}

code {
    font-size: 30px;
    font-weight: 600;
}

.top {
    position: fixed;
    width: 100%;
    height: 50px;
    transition: padding 0.3s ease;
}

.top.sticky {
    background: linear-gradient(rgba(13,17,23,1) 15%, rgba(13,17,23,0) 100%);
}

/* ////////////////////////////////////////////
                placeholder styling
   ////////////////////////////////////////////*/

::placeholder {
    color: #fff;
    opacity: 100;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

/* ////////////////////////////////////////////
                scrollbar styling
   ////////////////////////////////////////////*/

::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #161B22;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-color: #fff;
    /* box-shadow: 0 -100vh 0 100vh #fff; */
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ////////////////////////////////////////////
                cursor styling
   ////////////////////////////////////////////*/

.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.link-hover {
    z-index: -100;
    transform: scale(1.5);
    background-color: #fff;
}

/* ////////////////////////////////////////////
            Splash screen styling
   ////////////////////////////////////////////*/



/* ////////////////////////////////////////////
                selection styling
   ////////////////////////////////////////////*/

::selection {
    background-color: #161B22;
    color: #fff;
}

/* ////////////////////////////////////////////
            social icons styling
   ////////////////////////////////////////////*/

.icon-bar {
    position: fixed;
    left: 75px;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.socialItem {
}

.github, .instagram, .mail, .status {
    display: block;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease;
    stroke: #fff;
}

.socialItem:hover {
    stroke: #0d1117;
}

/* ////////////////////////////////////////////
                home page styling
   ////////////////////////////////////////////*/

.home {
    height: 100vh;
}

.intro-text {
    font-size: 72px;
    font-weight: 800;
    position: absolute;
    top: 35%;
}

/* outlined text */

.intro-text .outlined-text {
    color: transparent;
    -webkit-text-stroke: 2.5px #fff;
    -webkit-font-smoothing: antialiased;
}

.bottom-div {
    position: absolute;
    bottom: 0px;
    height: 80px;
    left: 50vw;
}

/* mouse-scroll */

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2.5px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

/* ////////////////////////////////////////////
                project page styling
   ////////////////////////////////////////////*/

.projects {
    height: 100vh;
}

/* ////////////////////////////////////////////
            skills & tools page styling
   ////////////////////////////////////////////*/

.skillstools {
    height: 100vh;
}

.column {
    float: left;
    width: 120px;
    padding: 5px;
}

.row {
    background-color: #161B22;
    padding: 65px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-div {
    width: 33vw;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    width: 40vw;
    margin: auto;
}

.type {
    text-align: center;
}

/* ////////////////////////////////////////////
                page styling
   ////////////////////////////////////////////*/


.header {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}

.copyright {
    text-align: center;
    margin-bottom: 20px;
}

.link {
    text-decoration: underline;
    color: #fff;
}

.link:hover {
    text-decoration: none;
}

/* ////////////////////////////////////////////
                    keyframes
   ////////////////////////////////////////////*/

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

@-moz-keyframes spin { 
    100% { 
        -moz-transform: rotate(360deg); 
    } 
}

@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
    } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/* ////////////////////////////////////////////
                media queries
   ////////////////////////////////////////////*/

@media only screen and (max-width:480px) {
    .intro-text {
        font-size: 45px;
    }

    .header {
        font-size: 45px;
    }

    .github, .instagram, .mail, .dribble {
        display: none;
    }
    
    .cursor {
        display: none;
    }


    code {
        font-size: 18px;
    }
}

@media only screen and (max-width:768px) {

}

@media only screen and (max-width:1200px) {

}