html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #fff;
}

.joinInnerContainer {
  width: 30vh;
}

.joinInput {
  border-radius: 60px;
  padding: 15px 20px;
  width: 100%;
  border: none;
  box-shadow: 2px 2px 20px #888888;
}

.logo {
  width: 90%;
  margin-bottom: 30px;
}

.button {
    color: #fff !important;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    background-image: linear-gradient(to left, #0353A4, #002855);
    padding: 20px;
    margin-top: 20px;
    border-radius: 60px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 2px 2px 20px #888888;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}

